dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.ghc.environment.*
.DS_Store
config-files/*
*.skey
*.vkey
*.addr
config.json
swagger-api.json
result
result-*
.vscode/
.idea
tags
TAGS
.nvimrc
.envrc
.direnv/
haddock 
hoo
cardano-private-testnet-setup
logs-privnet
kupo
wallet.db*
wallet.test.db*
root.key
.env
sample-ipfs-file.txt
bin